@font-face {
  font-family: BeaufortforLOL;
  src: url(/public/font/BeaufortforLOL-BoldItalic.woff);
}

@font-face {
  font-family: LOLfont;
  src: url(/public/font/League.otf);
}

/* @font-face {
	font-family: myFont;
	src: url(/public/fonts/PrettyGirl.ttf);
} */

body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: url(/public/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: LOLfont;
}

body h1 {
  color: rgb(193, 157, 81);
  font-size: 3rem;
  text-shadow: 3px 3px 5px black;
}

.container {
  display: flex;
  width: 90vw;
}
